<div class="footerTopLine"></div>

<div class="footerDiv">
    <div class="footerLeft">
        <span class="footerName" (click)="scrollToId('pageBox')">Sebastian</span>
        <span class="imprint">Impressum</span>
    </div>
    <div class="footerMiddle">
        <span class="copyright">&#x00A9; Sebastian Köster 2024</span>
    </div>
    <div class="footerRight">
        <div><img src="../../assets/img/cat.png" (click)="openLink('https://github.com/SebastianKoester92')"></div>
        <div><img src="../../assets/img/letter.png"></div>
        <div><img src="../../assets/img/linkedin.png"></div>
    </div>
    <span class="imprintMobile">Impressum</span>
</div>
