.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #141D2F;
    
}

.navDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

.name {
    color: white;
    font-size: 30px;

    >span:hover {
        cursor: pointer;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    font-weight: 400;
    gap: 29px;
    color: white;

    >span:hover {
        cursor: pointer;
        color: #1CDAE6;
    }
}

.burgermenuDiv {
    display: none;
    justify-content: center;
    align-items: center;
}
.burgermenuDiv:hover {
    cursor: pointer;
}

.dropDownMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 700px;
    gap: 29px;
    background-color: rgba(128, 128, 128, 0.05);
    font-size: 23px;
    font-weight: 400;
    >span:hover {
        cursor: pointer;
        color: #1CDAE6;
    }
}

.d-none {
    display: none;
}





@media(max-width: 850px) {
    .navigation {
        display: none;
    }
    .burgermenuDiv {
        display: flex;
    }
    .navDiv {
        padding-left: 25px;
        padding-right: 25px;
    }
    .navbar {
        position: fixed;
        width: 390px;
    }
}