
<nav class="navbar">
    <div class="navDiv">
        <div class="name">
            <span>Sebastian</span>   
        </div>
        <div class="navigation">
            <span (click)="scrollToId('app-aboutme')">About me</span>
            <span (click)="scrollToId('app-myskills')">Skills</span>
            <span (click)="scrollToId('app-portfolio')">Portfolio</span>
        </div>
        <div class="burgermenuDiv" (click)="showOrCloseDropdown()">
            <img src="../../assets/img/burgermenu.png">
        </div>
    </div>
    <div id="dropDownMenu" class="dropDownMenu" [ngClass]="{'d-none': !isDropdownVisible}">
        <span (click)="scrollToIdMobile('app-aboutme')">About me</span>
        <span (click)="scrollToIdMobile('app-myskills')">Skills</span>
        <span (click)="scrollToIdMobile('app-portfolio')">Portfolio</span>
        <span (click)="scrollToIdMobile('app-contact')">Contact</span>
    </div>
</nav>

