<div class="dropDownMenu">
    <div class="dropDownHead">
        <span>Sebastian</span>
        <div>
            <img src="../../assets/img/burgermenu.png">
        </div>
    </div>
</div>

<nav class="navbar">
    <div class="name">
        <span>Sebastian</span>   
    </div>
    <div class="navigation">
        <span>About me</span>
        <span>Skills</span>
        <span>Portfolio</span>
    </div>
    <div class="burgermenuDiv">
        <img src="../../assets/img/burgermenu.png">
    </div>
</nav>

