<div id="aboutMeSection" class="aboutMeSection">

    <div class="textDiv">
        <span class="textHead">About Me</span>
        <span class="text">Hi, My name is Sebastian Köster and i am a Front-end deverloper based in Heidelberg, Germany.</span>
        <div class="textSecondDiv">
            <div class="imageDivLamp">
                <img class="textImage" src="../../assets/img/lamp.png">  
            </div>
            <span class="text">With a strong focus on building responsive and user-friendly interfaces, I have experience working with modern technologies like HTML, CSS, JavaScript, Typescript and frameworks such as Angular. A lot of the projects I have worked on were developed in close collaboration with teams, where effective communication and teamwork were key to delivering high-quality results</span>
        </div>
        <div class="textSecondDiv">
            <div class="imageDivPuzzle">
                <img class="textImage" src="../../assets/img/puzzle.png">   
            </div>
            
            <span class="text">In my spare time, I am constantly exploring new technologies and frameworks, always eager to expand my knowledge and stay up-to-date with the latest trends in web development. Learning is a big part of my passion, and I love applying new skills to real-world projects.</span>  
        </div>
    </div>
    
    <div class="imageDiv">
        <div class="personalImage"></div>
        <div class="lineDiv"></div>
    </div>
</div>
