<div id="aboutMeSection" class="aboutMeSection">

    <div class="textDiv">
        <span class="textHead">About Me</span>
        <span class="text">Hi, My name is Sebastian Köster and i am a Front-end deverloper based in Heidelberg, Germany.</span>
        <div class="textSecondDiv">
            <div class="imageDivLamp">
                <img class="textImage" src="../../assets/img/lamp.png">  
            </div>
            <span class="text">Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>
        </div>
        <div class="textSecondDiv">
            <div class="imageDivPuzzle">
                <img class="textImage" src="../../assets/img/puzzle.png">   
            </div>
            
            <span class="text">Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>  
        </div>
    </div>
    
    <div class="imageDiv">
        <div class="personalImage"></div>
        <div class="lineDiv"></div>
    </div>
</div>
