.contactDiv {
    padding-top: 100px;

    .contactHeadLine {
        display: flex;
        align-items: center;
        gap: 80px;

        .contactLineDiv {
            width: 50px;
            height: 0px;
            border-style: solid;
            border-color: #4B47FF;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        .contactHeadSpan {
            color: white;
            font-size: 90px;
            font-weight: 700;
        }
    }



    .contactContentDiv {
        display: flex;
        justify-content: space-between;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 60px;

        .contactTextDiv {
            .contactText1 {
                color: white;
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 30px;
            }
            .contactText2 {
                width: 473px;
                color: white;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 20px;
            }
            .contactText3 {
                display: flex;
                color: white;
                font-size: 16px;
                font-weight: 400;

                .contactText3Span{
                    font-weight: 700;
                }
                .contactText3Span:hover {
                    cursor: pointer;
                    color: #00BEE8;
                }
            }
        }

        .contactForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            .input1 {
                width: 617px;
                height: 50px;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 32px;
                border-radius: 10px;
                border: 1px solid #4B47FF;
                padding-left: 25px;
                padding-right: 25px;
                background: none;
                caret-color: white;
                color: white;
            }
            
            .input1::placeholder {
                color: white;
                font-size: 16px;
                font-weight: 400;
            }

            .textarea1 {
                width: 617px;
                height: 202px;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 15px;
                border-radius: 10px;
                border: 1px solid #4B47FF;
                padding-left: 25px;
                padding-right: 25px;
                padding-top: 15px;
                padding-bottom: 15px;
                background: none;
                caret-color: white;
                color: white;
                resize: none;
            }
            .textarea1::placeholder {
                color: white;
                font-size: 16px;
                font-weight: 400;
            }
            .input1:hover,
            .textarea1:hover {
                cursor: pointer;
                border-color:#00BEE8;
            }
            .input1:focus,
            .textarea1:focus {
                outline: none;
                border-color:#00BEE8;
            }

            .input2 {
                width: 253px;
                height: 58px;
                border: none;
                border-radius: 10px;
                padding-top: 15px;
                padding-bottom: 15px;
                padding-left: 30px;
                padding-right: 30px;
                background-color: #00BEE8;
                color: white;
                font-size: 23px;
                font-weight: 400;
            }
            .input2:hover {
                cursor: pointer;
            }

            .divPrivacyPolicy {
                font-size: 14px;
                color: white;
                margin-bottom: 32px;

                .lableContainer {
                    display: flex;
                    width: 617px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;

                    input[type="checkbox"].privacyPolicyCheckbox {
                        appearance: none;
                        -webkit-appearance: none;
                        width: 18px !important; 
                        height: 18px !important;
                        border: 2px solid #00BEE8; 
                        border-radius: 3px; 
                        background-color: transparent; 
                        cursor: pointer;
                        position: relative;
                    }

                    input[type="checkbox"].privacyPolicyCheckbox:checked::before {
                        content: '\2714'; 
                        color: #00BEE8;
                        font-size: 16px;
                        position: absolute;
                        top: -4px;
                        left: 1px;
                    }
                    .privacyLink {
                        color: #4B47FF;
                    }
                    .privacyLink:hover {
                        cursor: pointer;
                        color: #00BEE8;
                    }
                }
            }
        }
    }
}



.invalid-input {
    border: 1px solid red !important;
}
.valid-input {
    border: 1px solid greenyellow !important; 
}


@media(max-width: 1410px) {
    .PageBox {
        width: 1170px;
    }
    .contactContentDiv {
        margin-left: 0 !important;
        margin-right: 0 !important;
        flex-direction: column !important;
        align-items: center !important;
        gap: 50px !important;
    }
}

@media(max-width: 850px) {
    .contactHeadLine {
        gap: 10px !important;
    }
    .contactHeadSpan {
        font-size: 45px !important;
    }
    .contactLineDiv {
        width: 20px !important;
    }
    .contactContentDiv {
        margin-left: 0 !important;
        margin-right: 0 !important;
        flex-direction: column !important;
        align-items: center !important;
        gap: 50px !important;
    }
    .contactTextDiv,
    .contactText2 {
        width: 340px !important;
    }
    .contactText1 {
        font-size: 23px !important;
    }

    .textarea1,
    .input1 {
        width: 290px !important;
    }
    .input2 {
        width: 195px !important;
        font-size: 19px !important;
    }
    .contactDiv {
        margin-top: 70px !important;
    }
    .lableContainer {
        width: 290px !important;
    }
    .privacyText {
        width: 250px;
    }
    
}