<div class="contactDiv">
    <div class="contactHeadLine">
        <div class="contactLineDiv"></div>
        <span class="contactHeadSpan">Contact</span>
    </div>

    <div class="contactContentDiv">
        <div class="contactTextDiv">
            <div class="contactText1">Got a problem to solve?</div>
            <div class="contactText2">Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</div>
            <div class="contactText3">Need a Frontend developer?&nbsp;<div class="contactText3Span" (click)="openEmail()">Contact me!</div></div>
        </div>




        <div class="contactFormDiv">
            <form class="contactForm" (ngSubmit)="onSubmit(contactForm, privacyCheckbox)" #contactForm="ngForm">
                <input [ngClass]="{
                    'invalid-input': contactForm.controls['name']?.invalid && contactForm.controls['name']?.touched,
                    'valid-input': contactForm.controls['name']?.valid && contactForm.controls['name']?.touched
                  }" (focus)="markAsTouched(contactForm.controls['name'])" [(ngModel)]="contactData.name" class="input1" type="text" id="name" name="name" placeholder="Your name" required>
                <input [ngClass]="{
                    'invalid-input': contactForm.controls['email']?.invalid && contactForm.controls['email']?.touched,
                    'valid-input': contactForm.controls['email']?.valid && contactForm.controls['email']?.touched
                  }" (focus)="markAsTouched(contactForm.controls['email'])" [(ngModel)]="contactData.email" class="input1" type="email" id="email" name="email" placeholder="Your email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                <textarea [ngClass]="{
                    'invalid-input': contactForm.controls['message']?.invalid && contactForm.controls['message']?.touched,
                    'valid-input': contactForm.controls['message']?.valid && contactForm.controls['message']?.touched
                  }" (focus)="markAsTouched(contactForm.controls['message'])" [(ngModel)]="contactData.message" class="textarea1" id="message" name="message" placeholder="Your message" required></textarea>
                
                <div class="divPrivacyPolicy">
                    <label class="lableContainer">
                        <input #privacyCheckbox class="privacyPolicyCheckbox" type="checkbox" required (change)="onCheckboxChange()">
                        <span class="privacyText">I've read the <span class="privacyLink" (click)="openLink('/privacy')">privacy policy</span> and agree to the processing of my data as outlined</span>
                    </label>
                </div>
                <input class="input2" type="submit" value="Send message" [disabled]="!privacyCheckbox.checked || contactForm.invalid">   
            </form>
        </div>
    </div>
</div>


