<div class="portfolioDiv">
    <div class="portfolioHead">
        <div class="portfolioHeadDiv">
            <div class="portfolioHeadline">
                <div class="portfolioleftLine"></div>
                <span class="portfolioTitle">Portfolio</span>
                <div class="portfoliorightLine"></div>     
            </div>
            <div class="portfolioSubtextDiv">
                <div class="portfolioSubtext">Explore a selection of my work here - Interact with projects to see my skills in action.</div>
            </div>
            
        </div>
    </div>




    <div class="projectDiv" #projectDiv>
        <div>
            <img class="projectImage" src="../../assets/img/polloloco.png">
        </div>
        <div class="projectDescription">
            <div class="projectName">El Pollo Loco</div>
            <div class="projectUsedTools">JavaScript | HTML | CSS</div>
            <div class="projectDescriptionText">A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to find coins and salsa bottles to fight against the giant Chicken.</div>
            <div class="projectButtons">
                <div class="projectButtonLive"(click)="openLink('https://elpolloloco.koestersebastian.de/')">Live Test</div>
                <div class="projectButtonGit" (click)="openLink('https://github.com/SebastianKoester92/El-Pollo-Loco')">Github</div>
            </div>
        </div>
    </div>
</div>