.portfolioDiv {
    padding-top: 100px;
    overflow: hidden;
    position: relative;

    .portfolioHead {
        display: flex;
        align-items: end;
        flex-direction: column;
        margin-bottom: 100px;
        

        .portfolioHeadline {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;


            .portfolioTitle {
                color: white;
                font-size: 90px;
                font-weight: 700;
            }
            .portfolioleftLine {
                width: 109px;
                height: 0px;
                border-style: solid;
                border-color: #4B47FF;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            .portfoliorightLine {
                width: 484px;
                height: 0px;
                border-style: solid;
                border-color: #4B47FF;
            }
        }
        
            
        .portfolioSubtext {
            font-size: 16px;
            font-weight: 400;
            color: white;
        }    
        
    }
}
.projectDiv {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    gap: 90px;
}

.projectImage {
    height: 500px;
}

.projectDescription {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 513px;
    gap: 15px;
}
.projectName {
    color: #4B47FF;
    font-size: 32px;
    font-weight: 700;
}
.projectUsedTools {
    color: #00BEE8;
    font-size: 23px;
    font-weight: 400;
}
.projectDescriptionText {
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.projectButtons {
    display: flex;
    margin-top: 30px;
    gap: 86px;
}
.projectButtonLive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 58px;
    border-radius: 10px;
    padding: 15px, 30px, 15px, 30px;
    color: white;
    background-color: #4B47FF;
    font-size: 23px;
    font-weight: 400;
}
.projectButtonGit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 137px;
    height: 58px;
    border-radius: 10px;
    border: 1px solid #00BEE8;
    padding: 15px, 30px, 15px, 30px;
    color: white;
    font-size: 23px;
    font-weight: 400;
}
.projectButtonGit:hover,
.projectButtonLive:hover {
    cursor: pointer;
    scale: 1.05;
}

        
    
.textEnd {
    text-align: end;
}

.transformX {
    transform: scaleX(-1);   
}

.projectDiv {
    display: flex;
    position: relative; 
    overflow: hidden; 
    opacity: 0; 
    transform: translateX(100%); 
}

.contentEnd {
    justify-content: center;
}

.contentStart {
    justify-content: center;
}


.slide-in-right {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
    transition-delay: 0.5s;
  }
  
  .slide-out-right {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.1s ease-in, opacity 0.1s ease-in;
  }
  
  
  .slide-in-left {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
    transition-delay: 0.5s;
  }
  
  .slide-out-left {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.1s ease-in, opacity 0.1s ease-in;
  }



@media(max-width: 1190px) {
    .portfoliorightLine {
        width: 150px !important;
    }
    .projectDiv {
        margin-bottom: 100px !important;
        margin-left: 0;
        margin-right: 0;
        gap: 0 !important;
    }
    .directionColumn {
        flex-direction: column !important;
    }
    .directionReverse {
        flex-direction: column-reverse !important;
    }
    .projectName,
    .projectUsedTools,
    .projectDescriptionText {
        text-align: center !important;
    }
    .projectButtons {
        justify-content: space-around;
    }
    .contentEnd {
        justify-content: end;
    }
    
    .contentStart {
        justify-content: start;
    }
}


@media(max-width: 850px) {
    .portfoliorightLine {
        width: 75px !important;
    }
    .portfolioleftLine {
        width: 20px !important;
    }
    .portfolioTitle {
        font-size: 45px !important;
    }
    .portfolioHead {
        margin-bottom: 30px !important;
    }
    .portfolioHeadDiv {
        display: flex;
        flex-direction: column;
        width: 390px;
    }
    .portfolioHeadline {
        justify-content: end;
    }
    .portfolioSubtext {
        text-align: center !important;
        width: 340px !important;
    }
    .portfolioSubtextDiv {
        display: flex;
        justify-content: center;
    }
    .projectDiv {
        gap: 0 !important;
    }
    .projectImage {
        height: 350px !important;
    }
    .projectDescription {
        width: 340px !important;
    }
    .projectName,
    .projectUsedTools,
    .projectDescriptionText {
        text-align: center !important;
    }
    .directionColumn {
        flex-direction: column !important;
    }
    .directionReverse {
        flex-direction: column-reverse !important;
    }
}
