<div class="skillsDiv">
    <div class="skills">
        <div class="imageSkillDiv"><img src="../../assets/img/angular.png"></div>
        <div class="imageSkillDiv marginLeft123"><img src="../../assets/img/typescript.png"></div>
        <div class="imageSkillDiv marginLeft123"><img src="../../assets/img/javascript.png"></div>
        <div class="imageSkillDiv marginLeft123"><img src="../../assets/img/html.png"></div>
        <div class="imageSkillDiv"><img src="../../assets/img/firebase.png"></div>
        <div class="imageSkillDiv marginLeft123"><img src="../../assets/img/git.png"></div>
        <div class="imageSkillDiv marginLeft123"><img src="../../assets/img/css.png"></div>
        <div class="imageSkillDiv marginLeft123"><img src="../../assets/img/api.png"></div>
        <div class="imageSkillDiv"><img src="../../assets/img/scrum.png"></div>
        <div class="imageSkillDiv marginLeft123"><img src="../../assets/img/materialdesign.png"></div>
    </div>

    <div class="skillsTextDiv">
        <span class="skillsheadline">My Skills</span>
        <span class="skillsdescription">I have grown my frontend developments skills that have allowed me to create different real projects</span>
        <div class="getintouchdiv">
            <div class="getintouchButton">Get in touch</div>
        </div>
    </div>
    
</div>
