<div class="skillsDiv">
    <div class="getintouchButtonMobile">Get in touch</div>
    <div class="skills">
        <img class="skillImage" src="../../assets/img/angular.png">
        <img class="skillImage" src="../../assets/img/typescript.png">
        <img class="skillImage" src="../../assets/img/javascript.png">
        <img class="skillImage" src="../../assets/img/html.png">
        <img class="skillImage" src="../../assets/img/firebase.png">
        <img class="skillImage" src="../../assets/img/git.png">
        <img class="skillImage" src="../../assets/img/css.png">
        <img class="skillImage" src="../../assets/img/api.png">
        <img class="skillImage" src="../../assets/img/scrum.png">
        <img class="skillImage" src="../../assets/img/materialdesign.png">
    </div>
    <div class="skillsTextDiv">
        <span class="skillsheadline">My Skills</span>
        <span class="skillsdescription">I have grown my frontend developments skills that have allowed me to create different real projects</span>
        <div class="getintouchButton">Get in touch</div>
    </div>
</div>
