.skillsDiv {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    margin-left: 100px;
    margin-right: 100px;


    .skills {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-template-rows: repeat(3, 150px);
        gap: 40px;
        width: 721px;

        .skillImage {
            height: 100px;
        }

        
    }
    .skillsTextDiv,
    .skillsTextDivMobile {
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        width: 471px;

        .skillsheadline {
            display: flex;
            color: white;
            font-size: 90px;
            font-weight: 700;
            margin-bottom: 34px;
        }
        .skillsdescription {
            display: inline-block;
            text-align: right;
            color: white;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 50px;
        }
        .getintouchButton {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 23px;
            font-weight: 400;
            width: 200px;
            height: 58px;
            border-radius: 10px;
            padding: 15px, 30px, 15px, 30px;
            background-color: #00BEE8;
            margin-right: 130px;
            margin-bottom: 60px;
        }
        
    }
}

.getintouchButtonMobile {
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 23px;
    font-weight: 400;
    width: 200px;
    height: 58px;
    border-radius: 10px;
    padding: 15px, 30px, 15px, 30px;
    background-color: #00BEE8;
    margin-right: 130px;
    margin-bottom: 60px;
}




@media(max-width: 850px) {
    .skillsDiv {
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        margin-bottom: 150px !important;
    }
    .getintouchButton {
        display: none !important;
    }
    .getintouchButtonMobile {
        display: flex !important;
        margin: 0 !important;
    }
    .skillsheadline {
        font-size: 45px !important;
        margin-bottom: 24px !important;
    }
    .skillsTextDiv {
        width: 338px !important;
    }
    .skills {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)) !important;
        grid-template-rows: repeat(4, 100px) !important;
        width: 340px !important;
        margin-bottom: 46px;
    }
    .skillImage {
        height: 90px !important;
        align-self: center !important;
        justify-self: center !important;
    }
}


