<div class="startscreen">
    <app-navbar></app-navbar>

    <div class="personalFrontPage">
        <div class="myImage"></div>
        <div class="personalDescriptionDiv">
            <div class="personalDescription">
                <div class="iAmText">
                    <span class="iAmTextSpan">I am</span>
                </div>
                <div class="nameAndJob">
                    <span class="startName">Sebastian Köster</span>
                    <span class="startJob">Frontend Developer</span>
                </div>
            </div>
            <div class="letsTalkButton">Let's Talk!</div>
        </div>
    </div>

    <div class="startScreenSocial">
        <div class="lineDiv"></div>
        <div class="socialIcon"><img src="../../assets/img/cat.png"></div>
        <div class="socialIcon"><img src="../../assets/img/letter.png"></div>
        <div class="socialIcon"><img src="../../assets/img/linkedin.png"></div>
        <span class="startEmail">egal&#64;gmail.com</span>
    </div>

</div>
