.startscreen {
    height: 100vh;
    margin-bottom: 50px;
    margin-top: 50px;
}

.personalFrontPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;

    .myImage {
        background-color: green;
        width: 646px;
        height: 705px;
    }
    .personalDescriptionDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .personalDescription {
            display: flex;
        }
        .iAmText {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .iAmTextSpan {
            color: white;
            font-size: 64px;
            font-weight: 400;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
        .nameAndJob {
            display: flex;
            justify-content: center;
            flex-direction: column;

            .startName {
                color: white;
                font-size: 90px;
                font-weight: 700;
                line-height: 94px;
            }
            .startJob {
                color: #4B47FF;
                font-size: 58px;
                font-weight: 400;
                line-height: 69.6px;
            }
        }
        .letsTalkButton {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 23px;
            font-weight: 400;
            width: 165px;
            height: 58px;
            border-radius: 10px;
            padding: 15px, 30px, 15px, 30px;
            background-color: #00BEE8;
            margin-top: 30px;
        }
        .letsTalkButton:hover {
            cursor: pointer;
            background-color: #4B47FF;
            scale: 1.15;
        }
    }


}

.startScreenSocial {
    display: flex;
    align-items: center;
    margin-top: 80px;
    gap: 42px;

   .lineDiv {
        border-style: solid;
        width: 100px;
        height: 0;
        border-width: 3px;
        border-color: #4B47FF;
        border-top-right-radius: 90px;
        border-bottom-right-radius: 90px;
    }
    .socialIcon {
        display: flex;
        align-items: center;
    }
    .socialIcon:hover {
        cursor: pointer;
        scale: 1.1;
    }
    .startEmail {
        color: white;
        font-size: 23px;
        font-weight: 400;
    }
    .startEmail:hover {
        cursor: pointer;
    }
}









@media (max-width: 2500px) {
    .PageBox {
      margin-left: 240px;
      margin-right: 240px;
      box-shadow: -10px 0 20px -10px rgba(0,0,0,0.5), 10px 0 20px -10px rgba(0,0,0,0.5);
    }
  }

  @media (max-width: 2230px) {
    .PageBox {
      margin-left: 150px;
      margin-right: 150px;
      box-shadow: -10px 0 20px -10px rgba(0,0,0,0.5), 10px 0 20px -10px rgba(0,0,0,0.5);
    }
  }

  @media (max-width: 2050px) {
    .PageBox {
      margin-left: 50px;
      margin-right: 50px;
      box-shadow: -10px 0 20px -10px rgba(0,0,0,0.5), 10px 0 20px -10px rgba(0,0,0,0.5);
    }
  }

  @media (max-width: 1850px) {
    .PageBox {
      margin-left: 0;
      margin-right: 0;
      box-shadow: -10px 0 20px -10px rgba(0,0,0,0.5), 10px 0 20px -10px rgba(0,0,0,0.5);
    }
  }

  @media (max-width: 1745px) {
    .personalFrontPage {
        flex-direction: column;
    }
    .myImage {
        margin-bottom: 30px;
    }
  }

  @media (max-width: 1099px) {
    .personalFrontPage {
        padding-left: 10px;
        padding-right: 10px;
    }
    .iAmText {
        width: 60px;
    }
  }

@media(max-width: 850px) {
    .PageBox {
        width: 390px;
    }
    .startscreen {
        height: auto;
        margin-bottom: 100px !important;
    }
    .personalFrontPage {
        padding: 0;
    }
    .myImage {
        height: 417px !important;
        width: 390px !important;
    }
    .iAmTextSpan {
        font-size: 27px !important;
    }
    .startName {
        font-size: 35px !important;
        line-height: 54px !important;
    }
    .startJob {
        font-size: 24px !important;
        line-height: 34.8px !important;
    }
    .letsTalkButton {
        width: 133px !important;
        height: 49px !important;
        font-size: 16px !important;
    }
    .startEmail {
        display: none;
    }
    .lineDiv {
        width: 64px;
    }
}




